layout python3
# Secrets can be taken care by direnv. Create a .envrc-secret file
# and include AWS credentials there:
# export AWS_SECRET_ACCESS_KEY=XXXXXX
# export AWS_ACCESS_KEY_ID=YYYYYYY
[ -f .envrc-secret ] && . .envrc-secret
